    <div id="inner-wrapper" class="col-lg-8">
            <!-- Main content -->
    </div>
     
    <div id="infobox-before" class="col-md-12 col-lg-4">
        <div class="row mx-auto">
            <div id="introHeader" class="col-sm-5 col-md-5 col-lg-12">
                <!-- intro header -->
            </div>
            <div id="introText" class="col-sm-7 col-md-7 col-lg-12">
                <!-- intro text -->
            </div>
        </div>
    </div>
     
    <div id="infobox-after" class="col-sm-12 col-md-12 col-lg-4">
        <div class="row mx-auto">
            <div id="countryHeader" class="col-sm-5 col-md-12">
                <!-- info header -->
            </div>
            <div id="countryData" class="collapse show col-sm-7 col-md-7 col-lg-12">
                <!-- info data -->
            </div>
            <div id="countryInfo" class="overflow-fade col-sm-12">
                <!-- info text -->
            </div>
              
           <div id="countryReadMore" class="col-sm-12">
              <!-- Read more -->
           </div>
        </div>
    </div>