<!-- Main content: About -->
<div class="inner-wrapper col-md-12 col-lg-8">

    <div class="container h-100 d-flex align-items-center" style="overflow-y: auto">
        <!--Main text-->
        <div id="about-wrapper">
            <div class="pb-4 text-center col-md-12">
                <h2>Om kartan</h2>
            </div>
            <div class="px-5 col-md-12">
                <p>Syftet med den här kartan är att öka insynen i och informationen om 
                svensk vapenhandel. Handel med vapen och annan krigsmateriel omgärdas 
                dock av en omfattande sekretess som gör det svårt att få information om 
                vad som exporteras, till vem och hur besluten tas om att tillåta exporten.
                    Kartan visar ett urval av de stater där svenska vapen finns och ska inte 
                    betraktas som heltäckande.</p>
                <h5 class="pt-4">Så här har vi gjort urvalet:</h5>
                <p class=pt-3>Kartan visar de 30 största importörerna av 
                svensk krigsmateriel, åren 2000-2010 (enligt regeringens skrivelser om 
                strategisk exportkontroll). Den visar också merparten av de länder med stora
                brister i demokratisk status som Sverige har tillåtit export till samt
                    konstaterade fall av illegala överföringar av svensk krigsmateriel.
                Informationen baseras på tillgänglig offentlig redovisning, Svenska Freds 
                arkiv, mediarapportering och granskningar.
                </p>
                <p>Värdet av krigsmaterielexporten anges i löpande priser.</p>
            </div>
        </div>
    
    </div>
</div>

<!--Infobox Intro-->
<div class="infobox-before col-md-12 col-lg-4">
    <div class="row mx-auto no-gutters">
        <div class="py-4 col-sm-5 col-md-5 col-lg-12">
            <div class="col-sm-12">
                    <img src="./../Style/icons/svenska_freds-logo.png" alt="Svenska Freds logotyp"/>
            </div>   
            <div class="pt-4">
                <h3>Om produktionen</h3>
            </div>
        </div>
        <!-- Production text -->
        <div class="d-flex align-items-center col-sm-7 col-md-7 col-lg-12">
            <div class="col-sm-12">
                <div class="px-2">
                    <p>Kartan har framställts av Team Chaos bestående av Viola Turesson, Petter Knutsson, 
                        Jenny Miderkvist och Joakim Linna, 2018, baserat på en förlaga av Elias Kukkola 
                        Settervik och Gustav Hultgren Svensson 2014. 
                    </p>
                    <p> Båda versionerna är tillverkade för, och i samarbete med, Svenska Freds- och Skiljedomsföreningen som också är ansvarig
                        för texter och annat innehåll. Har du frågor om materialet, skriv till 
                        <a class="h-link" href="mailto:info@svenskafreds.se?Subject=Frågor%20till%20Svenska%20Freds" target="_top">Svenska Freds</a>. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


