        
<div class="row map" style="width: 1200px; height: 600px;">
    <div class= "col-md-8 padding-0">
      <div id="navbar" style="width: 100%; ">
          <a class="active" href="">Home</a>
          <a href="">News</a>
          <a href="">Contact</a>
      </div>
      <div id="world-map" class="padding-0 col-md-8 padding-0" style="height: 548px; width:100%;"></div>
    </div>

    <div id="world-map" class="col-md-8 padding-0" style="height:500px;"></div>
    <div id="infobox" class="col-md-4" style=" height: 100%; padding: 5px;">



        <div class="country col-md-12" style=" width: 100%;">
            <div>
                <span id="flag" class="flag-icon flag-icon-se" style="height: 8em; width: 8em;  "></span><br />
                <h1 id="country" style="margin: 0; padding-left: 15px;">Country</h1>
            </div>

        </div>
        <div class=" col-md-12 country_data">
            <div id="infox1">
                <div id="columnWeapon" class="col-md-12">
                    <img src="./../Style/icons/vapen-icon.png" /> Vapen:
                    <div id="columnInfo">10000 / år</div>
                </div>
                <div id="columnGPI" class="col-md-12">
                    <img src="./../Style/icons/gpi-icon.png" /> GPI-Rank:
                    <div id="columnInfo">10 av 162</div>
                </div>


            </div>



        </div>

        <hr>

        <div class="col-md-12" style="word-wrap: break-word">
            <hr>
    
            <div class="col-md-12" style="word-wrap: break-word">
                <hr>
                <p id="info">info</p>
            </div>
    
    
        </div>
        <h3>
            Här kan du se vart svenska vapen exporterats, hur svensk vapenexporten utvecklats över tid och vilka aktörer som påverkar exporten. Klicka på länderna och på flikarna.
        </h3>

    
