<title>Vapenkarta</title>
  <link rel="stylesheet" href="./../Style/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="./../Style/bootstrap-theme.min.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="./../Style/flag-icon.css" type="text/css" media="screen"/>
  <script src="http://code.jquery.com/jquery-git.min.js"></script>
  <script src="./../Scripts/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
  <script src="./../Scripts/index.js" defer="defer"></script>
  <script src="./../Scripts/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>