<div id="inner-wrapper" class="col-lg-8">
   <div id="world-map"></div>
</div>
<div id="infobox-before" class="col-md-12 col-lg-4">
   <div class="row mx-auto">
      <div class="introHeader col-sm-5 col-md-5 col-lg-12">
         <div class="col-sm-12 ">
            <img src="./../Style/icons/svenska_freds-logo.png" />
         </div>
         <div class="col-sm-12" id="logo-padding">
            <h3>Vapenexportkartan</h3>
         </div>
      </div>
      <div id="introText" class="col-sm-7 col-md-7 col-lg-12">
         <p>Klicka på länderna och läs mer om Sveriges vapenexport runt om i världen och genom åren. 
             Kartan visar ett urval av de länder dit svenska vapen skickats, genom medveten export eller genom illegala överföringar.
            <br/>
            <br/> Läs mer om kartan, källor och urval i fliken “Om kartan”.
         </p>
      </div>
   </div>
</div>

<div id="viewmodel-map" class="col-sm-12 col-md-12 col-lg-4">
        <div class="row mx-auto no-gutters">
            <div id="countryHeader" class="col-xs-5 col-sm-5  col-lg-12">
                <div class="col-md-12">
                    <div id="flag" class="flag-icon" data-bind="css: mapFlag()"></div>
                </div>
                <div class="col-md-12">
                    <h3 data-bind="text: selectedCountry().country"></h3>
                </div>
            </div>
            <div id="countryData" class="collapse show col-sm-7 col-md-7 col-lg-12">
                <div id="tooltipFH" class="data-col col-sm-12">
                    <img src="./../Style/icons/freedom-house-logo.png" height="37px" width="37px"> Status Freedom House:
                    <span class="tooltiptext">Freedom House är en oberoende amerikansk organisation som bland annat kategoriserar 
                    världens länder efter hur demokratiska de är. Länderna klassas som "fria", "delvis fria" eller "inte fria".
                    </br><a class="defRanks" href="https://freedomhouse.org/">Se Freedom House webbsida</a></span>
                    <span class="columnInfo" id="statusInfo" data-bind="text: statusInfo"></span>
                </div>
                <div id="tooltipGpi" class="data-col col-sm-12">
                    <img src="./../Style/icons/gpi-logo.png" height="37px" width="40px" padding-right="30px"> GPI - ranking:
                    <span class="tooltiptext">Global Peace Index rangordnar 163 av världens länder efter hur fredliga de är. 
                    Ju högre placring desto fredligare land. </br><a class="defRanks" href="http://visionofhumanity.org/">
                    Se Vision of Humanitys webbsida</a></span>
                    <span class="columnInfo" id="GPIInfo" data-bind="text: GPIInfo"></span>
                </div>
            </div>
            <div id="countryInfo" class="overflow-fade col-sm-12">
                <div id="info" class="col-sm-12" data-bind="text: mapInfo">
                </div>
                <div class="col-sm-12">
                    <div class="readMore">
                        <h6>Läs mer</h6>
                    </div>
                    <div id="links" data-bind="foreach: linksInfo"> 
                        <div data-bind="if:link">
                        <p>
                            <a data-bind="attr: { href: link }, text: title" target="_blank"></a>
                        </p>
                        </div>    
                        <div data-bind="if:!link">
                            <p data-bind="text: title"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="countryReadMore" class="col-sm-12">
                <button height="270px" onclick="changeSize()" id="btnInfo" class="buttonInfo" type="button" data-toggle="collapse" data-target="#countryData">Läs mer</button>
            </div>
        </div>
</div>