/*!
VAPENKARTA

Created by Team Chaos - 2018
Vijopeje
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Oswald');

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    line-height: 22px;
    font-size: 15px;
}
.container{
    padding: 0 !important; 
}
h1,h2,h3, .nav-link {  /*Headers*/
    font-family: 'Oswald', sans-serif;
}
h4,h5,h6, .dropdown-menu { /*Sub headers*/
    font-family: 'Merriweather Sans', sans-serif;
}
p, .info{  /* Paragraphs*/
    font-family: 'Merriweather', sans-serif;
}
.info-wrapper , #navbar-wrapper, .inner-wrapper,
.jvectormap-legend, .jvectormap-legend-title, .data-col{
    text-align: left;
}
.nav-link{
    font-size: 20px;
}

/**********
 *   UI   *
 **********/
.info{
    white-space: pre-wrap;
    padding: 15px;
}
.info-wrapper{
    overflow: auto;
    position: relative;
}
.h-link{
    color:#E54500 !important;
}
/* Infoboxes */
.infobox-before, .infobox-after {
    background-color: #333138;
}
.infobox-after{ 
    display: none;
}

/**********
 * Navbar *
 **********/
#navbar-wrapper {
    background-color: #333138;
}
#dropdown-wrapper {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 180px;
}
#dropdown-content {
    background-color: #333138;
    width: 100%;
    max-height: 250px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 0 3px 3px;
    line-height: 32px;
    overflow-y: auto;
    overflow-x: hidden;
}
#dropdown-wrapper input{
    height: 38px;
}
#dropdown-content .dropdown-item{
    color: white;
    cursor: pointer;
}
#dropdown-content .dropdown-item:hover{
    background-color: #9E9DA2;
}
.inner-wrapper{
    height: 600px;     /*Specified height required, infobox will follow*/
    background-color: #45434B;
}

/**********
 *   MAP  *
 **********/

/*Main content*/
#world-map{
    height: 600px; /* Specified height required, same as inner-wrapper*/
}
/*Map interface*/
.jvectormap-zoomin{
    top: 20px;
    left: 20px;
    height: 16px;
    width: 16px;
    font-size: 22px;
    background-color: #333138;
}
.jvectormap-zoomout{
    top:55px;
    left: 20px;
    height: 16px;
    width: 16px;
    font-size: 22px;
    background-color: #333138;
}
.jvectormap-legend{
    background-color: #333138;
    padding-bottom: 20px;
}
.jvectormap-legend-cnt-v{
    bottom: 28px;
    left: 28px;
    top: auto;
    right: auto;
    transform: scale(1.1, 1.1);
} 
.jvectormap-container{
    background-color: #45434B !important;
}
.jvectormap-legend-cnt-v .jvectormap-legend-tick-text{
    padding-left: 10px;
    font-size: 14px;
}
.jvectormap-legend-cnt-v .jvectormap-legend-tick-sample{
    width:25px;
    height:25px;
}
.jvectormap-legend-title{
    padding-bottom: 10px;
    font-size: 16px;
}

/******************
 *   Infobox map  *
 ******************/

/*Header*/
#flag{
    height: 4em; 
    width: 5em; 
}
/*Data columns*/
.data-wrapper {
    background-color: #45434B;
    border: #333138 1px solid;
}
.data-col{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    vertical-align:middle;
    line-height: 30px;
}
/*Tooltips*/
#tooltipFH .tooltiptext {
    visibility: hidden;
    padding:5px;
    background-color: #f2f2f2;
    color: #2c2a2a;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}
#tooltipFH:hover .tooltiptext {
    visibility: visible;
}
#tooltipGpi .tooltiptext {
    visibility: hidden;
    background-color: #f2f2f2;
    color: #2c2a2a;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    padding:5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}
.tooltipImg .tooltiptext {
    visibility: hidden;
    padding:5px;
    background-color: #755858;
    color: #f2f2f2;
    border-radius: 3px;
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    z-index: 1;
    bottom: -10%;
    left: 4%;
}
#tooltipGpi:hover .tooltiptext {
    visibility: visible;
}
.tooltipImg:hover .tooltiptext {
    visibility: visible;
}
/*Map Infobox text*/
#countryinfo-wrapper{
    height: 270px;
    overflow: hidden;
    transition: height 0.3s;
}
.overflow-fade {
    position: relative;
}
.overflow-fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #333138 90%);
    width: 100%;
    height: 4em;
}
/*Map infobox button*/
#btn-wrapper{
    position: absolute;
    z-index: 1000;
    bottom:0;
    left: 0;
    padding: 20px 0 20px 0;
}
#btn-map{
    background-color: #45434B;
    color: white;
    width: 150px;
    height: 40px;
}
#btn-map:hover {
    background-color: #808080;
}
#btn-map:focus, #btn-map:active {
    outline: none !important;
    box-shadow: none;
}
.btnDisabled{
    pointer-events: none;
    cursor: default;
}

/*****************
 *   Statistics  *
 *****************/
.chart-container {
    width: 100%;
    height: 100%;
}
#stat-flag{
    height: 2em; 
    width: 2.5em; 
}
#statsinfo-wrapper{
    height: 340px;
}

/****************
 * Participants *
 ****************/
 /*Columns*/
#pLogos{
    overflow-y: auto;
}
.pLogo-content{
    height: 150px;

}
.pLogo-col{
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 200px;
}
.pLogo-col:hover{
    background-color: #333131;
    cursor: pointer;
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    -o-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out; 
}
.pLogo-col img{
    transition: all .2s ease-in-out; 
    max-width: 150px; /* Images not 4:3 will be stretched down*/
}
.pLogo-col:hover img {
    transform: scale(1.1);
}

#logoinfo-wrapper{
    height: 340px;
}

#infobox-img{
    background-color: white;
}

/****************
 *   Scrollbar  *
 ****************/
#weaponmap-app * ::-webkit-scrollbar {
    width: 8px;
}
#weaponmap-app * ::-webkit-scrollbar-track {
    background: transparent; 
}
#weaponmap-app * ::-webkit-scrollbar-thumb {
    background: #dadada; 
    border-radius: 10px;
}
#weaponmap-app * ::-webkit-scrollbar-thumb:hover {
    background: white;   
}


/***************
 *  Responsive *
 ***************/

/* 1200px< */
@media screen and (min-width : 1200px){

}

/* 1200px breakpoint */
@media screen and (max-width : 1200px){

}


/* 992px breakpoint */
@media screen and (max-width : 992px){

    
    .infobox-before{
        padding: 20px 0 20px 0;
    }

    .infobox-header{
        padding: 0 !important;
    }

    #flag{
        height: 3em; 
        width: 4em; 
    }

    .jvectormap-zoomin{
        top: 20px;
        left: 20px;
        height: 26px;
        width: 26px;
        line-height: 17px;
        font-size: 32px;
        background-color: #333138;
    }
    .jvectormap-zoomout{
        top: 65px;
        left: 20px;
        height: 26px;
        width: 26px;
        line-height: 17px;
        font-size: 32px;
        background-color: #333138;
    }

    #btn-wrapper{
        position: static;
    }
}

/* 768px breakpoint*/
@media screen and (max-width : 768px){

    #dropdown-wrapper{
        top: 8px; 
    }
    #dropdown-content{
        max-height: 200px;
    }
    #navbarNav .nav-item{
        line-height: 32px;
    }
    .jvectormap-legend-cnt-v{
        transform: scale(1, 1);
        left: 20px;
    } 
    #btn-wrapper{
        position: static;
    }
    #world-map{
        height: 500px;
    }
    .inner-wrapper{
        height: 500px; 
    }

    #about-wrapper{
        padding-top: 60px;
    }
}

/* 576px breakpoint*/
@media screen and (max-width : 576px){
    .infobox-header{
        padding: 20px !important;
    }
}
