/* Wrappers */
.container{
    padding-left: 0;
    padding-right: 0;
}

#wrapper{
    height: 600px;
    width: 100%;
}
#inner-wrapper{
    padding-left: 0;
    padding-right: 0;
}

/* Navbar */
#inner-wrapper .navbar{
    margin: 0;
    border-radius: 0;
    padding: 0;
    font-size: 17px;
    background-color: #333131;
    border: none;
}

#inner-wrapper .navbar a{
    height: 100%;
    text-shadow: none;
    color: white;
}

#inner-wrapper .navbar a:hover{
    background-color: white;
    color: #333131;
}

#inner-wrapper .navbar li.active {
    background-color: #2C2A2A;
    color: white ;
    font-weight: 700;
}

#inner-wrapper .navbar .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Map */
#world-map{
    height: 100%;
}

.jvectormap-container{
    height: 550px;
}

/* Infobox */
#infobox {
    background-color: #2c2a2a;
    color: white;
}

/* Infobox header */
#countryHeader{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
}

#flag{
    height: 5em; 
    width: 5em;
}

#country{
    font-size: 30px;
    font-weight: 500;
}

/* Infobox Data */
#countryData div {
    background-color: #333131;
}

.data-col{
    padding: 10px 15px 10px 15px;
    text-align: left;
    font-weight: bold;
    vertical-align:middle;
    line-height: 30px;
}

.data-col img{
    padding-right: 5px;
}

#links{
    font-weight: normal;
    line-height: 100%;
}

.columnInfo{
   float: right;
}

/* Infobox textarea */
#countryInfo{
    height: 290px;
    overflow:hidden;
    padding: 0;
    transition: height 0.3s;
    position:relative;
    
}

#countryInfo #info{
    overflow:hidden;
    padding: 20px;
    margin-right: 8px;

    /* background: -webkit-linear-gradient(top,#fff 90%, #333131);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
   padding-top: 15px;
}

.overflow-fade {
    position: relative;
}

.overflow-fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #2C2A2A 90%);
    width: 100%;
    height: 4em;
  }

/* Infobox button */
#countryReadMore{
    text-align: center;
    bottom: 0;
    position: absolute;
    padding-bottom: 25px;
}
.buttonInfo {
    background-color: #333131;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid #FFFFFF !important;
    
}
.buttonInfo:hover {
    background-color: #808080;
}
button:focus{
     outline: 0 !important;
}

/* Country dropdown */
#dropdownSearch svg {
    color: white;
    margin: 0 5px;
}

#dropdownInput{
    border: none;
    line-height: 50px;
    width: 170px;
    text-align: center;
    color: #333131;
    height: 50px;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

#dropdownContent{
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0;
    line-height: 32px;
    width: 170px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: transparent; 
}
 
::-webkit-scrollbar-thumb {
    background: #dadada; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: white; 
    
}

/* Map assets */
.jvectormap-zoomin{
    top: 20px;
    left: 20px;
    height: 16px;
    width: 16px;
    line-height: 17px;
    font-size: 22px;
    background-color: #2c2a2a;
}
.jvectormap-zoomout{
    top:55px;
    left: 20px;
    height: 16px;
    width: 16px;
    line-height: 17px;
    font-size: 22px;
     background-color: #2c2a2a;
}
.jvectormap-legend{
    background-color: rgba(0, 0, 0, 0.45);
    padding-bottom: 20px;

}
.jvectormap-legend-cnt-v{
    bottom: 30px;
    left: 30px;
    top: auto;
    right: auto;
    transform: scale(1.1, 1.1);
} 

.jvectormap-legend-cnt-v .jvectormap-legend-tick-text{
    padding-left: 10px;
    font-size:14px;
}
.jvectormap-legend-cnt-v .jvectormap-legend-tick-sample{
    width:25px;
    height:25px;
}
    
.jvectormap-legend-title{
    text-align: left;
    padding-bottom: 10px;
    font-size: 16px;
}

#tooltipGpi .tooltiptext {
    visibility: hidden;
    background-color: #f2f2f2;
    color: #2c2a2a;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    padding:5px;

    /* tooltip position */
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}

#tooltipGpi:hover .tooltiptext {
    visibility: visible;
}

#tooltipFH .tooltiptext {
    visibility: hidden;
    padding:5px;
    background-color: #f2f2f2;
    color: #2c2a2a;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    
    /* tooltip position */
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}

#tooltipFH:hover .tooltiptext {
    visibility: visible;
}

.defRanks {
    color:#2c2a2a;
}

a {
    color:#f2f2f2;
}