/* Wrappers */
.container{
    padding-left: 0;
    padding-right: 0;
}

#wrapper{
    height: 600px;
    width: 100%;
}
#inner-wrapper{
    padding-left: 0;
    padding-right: 0;
}

/* Navbar */
#inner-wrapper .navbar{
    margin: 0;
    border-radius: 0;
    padding: 0;
    font-size: 17px;
    background-color: #333131;
    border: none;
}

#inner-wrapper .navbar a{
    height: 100%;
    text-shadow: none;
    color: white;
}

#inner-wrapper .navbar a:hover{
    background-color: white;
    color: #333131;
}

#inner-wrapper .navbar li.active {
    background-color: #2C2A2A;
    color: white ;
    font-weight: 700;
}

#inner-wrapper .navbar .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Map */
#world-map{
    height: 100%;
}

.jvectormap-container{
    height: 550px;
}

/* Infobox */
#infobox {
    background-color: #2c2a2a;
    color: white;
}



/* Infobox header */
#countryHeader{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
}

#flag{
    height: 5em; 
    width: 5em;
}

#country{
    font-size: 30px;
    font-weight: 500;
}

/* Infobox Data */
#countryData div {
    background-color: #333131;
}

.data-col{
    padding: 10px 15px 10px 15px;
    text-align: left;
    font-weight: bold;
    vertical-align:middle;
    line-height: 30px;
}

.data-col img{
    padding-right: 5px;
}

.columnInfo{
   float: right;
}

/* Infobox textarea */
#countryInfo #info{
    overflow:hidden;
    height: 200px;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top,#fff 90%, #333131);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-top: 15px;
}

/* Infobox button */
#countryReadMore{
    text-align: center;
    bottom: 0;
    position: absolute;
    padding-bottom: 25px;
}
.buttonInfo {
    background-color: #333131;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid #FFFFFF !important;
    
}
.buttonInfo:hover {
    background-color: #808080;
}

/* Map assets */
.jvectormap-zoomin{
    top: 20px;
    left: 20px;
    height: 16px;
    width: 16px;
    line-height: 17px;
    font-size: 22px;
    background-color: #2c2a2a;
}
.jvectormap-zoomout{
    top:55px;
    left: 20px;
    height: 16px;
    width: 16px;
    line-height: 17px;
    font-size: 22px;
     background-color: #2c2a2a;
}
.jvectormap-legend{
    /* background-color: transparent !important; */
    background-color: rgba(0, 0, 0, 0.45);
    padding-bottom: 20px;
}
.jvectormap-legend-cnt-v{
    bottom: 25px;
    left: 20px;
    top: auto;
    right: auto;
    transform: scale(1.1, 1.1);
} 
.jvectormap-legend-title{
padding-bottom: 5px;
}