.padding-0{
    padding-right:0;
    padding-left:0;
}
.map{
    margin-left: 0;
    margin-right: 0;
}

.description{
    height: 50%;
    position: absolute;
    bottom: 0;
}

#navbar {
    overflow: hidden;
    background-color: #363535;
    font-family: "Verdana", Geneva, sans-serif;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #212121;
    color: white;
    font-weight: bold;
}

#infobox {
    text-align: center;
    vertical-align: middle;
    background-color: #424242;
    color: white;
}

ul {
    list-style-type: none;
}