html,body {
    height: 100%;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

#wrapper{
    height: 650px;
    color: white;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    scrollbar-face-color: white;
    scrollbar-arrow-color: white;
    scrollbar-track-color: #2c2a2a;

 
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*Navbar*/
#navbar-wrapper{
    background-color: #2c2a2a;
    text-align: left;
    min-height: 50px;
    padding: 0;
}


/*Dropdown in navbar*/
#dropdown-wrapper{
    position: absolute;
    top: 8px;
    right: 0;
    padding-right: 16px;
    
}
#dropdown-wrapper input{
    margin: 0 !important;
    width: 200px;
    height: 38px;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

#dropdownContent .dropdown-item{
    color: white;
    cursor: pointer;
}
#dropdownContent .dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.40);
}

#dropdownContent{
    margin: 0;
    width: 200px;
    border-radius: 0 0 3px 3px;
    background-color: rgba(0, 0, 0, 0.55);
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    line-height: 32px;
    padding: 0;
    max-height: 250px;
}
/*Main content*/
#inner-wrapper{
    height: 600px;
    background-color: #505050;
    text-align: left;
}


/*Map*/
#world-map{
    height: 600px;
}

/*Map interface*/
.jvectormap-zoomin{
    top: 20px;
    left: 20px;
    height: 16px;
    width: 16px;
    font-size: 22px;
    background-color: #2c2a2a;
}
.jvectormap-zoomout{
    top:55px;
    left: 20px;
    height: 16px;
    width: 16px;
    font-size: 22px;
    background-color: #2c2a2a;
}
.jvectormap-legend{
    background-color: rgba(0, 0, 0, 0.55);
    padding-bottom: 20px;
    text-align: left;

}
.jvectormap-legend-cnt-v{
    bottom: 28px;
    left: 28px;
    top: auto;
    right: auto;
    transform: scale(1.1, 1.1);
} 

.jvectormap-legend-cnt-v .jvectormap-legend-tick-text{
    padding-left: 10px;
    font-size:14px;
}
.jvectormap-legend-cnt-v .jvectormap-legend-tick-sample{
    width:25px;
    height:25px;
}
    
.jvectormap-legend-title{
    text-align: left;
    padding-bottom: 10px;
    font-size: 16px;
}

/*Infobox before*/
#infobox-before{
    background-color: #2c2a2a;
}

.introHeader{
    padding-bottom: 10px;
    padding-top: 30px;
}

#introText{
    padding: 10px;
    overflow: auto;
}

/*Infobox after*/
#viewmodel-map{
    text-align: center;
    background-color: #2c2a2a;
    display: none;
}

#flag{
    height: 4em; 
    width: 5em; 
}

#countryHeader{
    padding-bottom: 20px;

}

#countryData {
    background-color: #3a3a3a;
}

/*Tooltips for data in header*/
#tooltipFH .tooltiptext {
    visibility: hidden;
    padding:5px;
    background-color: #f2f2f2;
    color: #2c2a2a;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}

#tooltipFH:hover .tooltiptext {
    visibility: visible;
}

#tooltipGpi .tooltiptext {
    visibility: hidden;
    background-color: #f2f2f2;
    color: #2c2a2a;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    line-height: 140%;
    padding:5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 3%;
    margin-left: -10px;
}

#tooltipGpi:hover .tooltiptext {
    visibility: visible;
}

.data-col{
    padding: 13px 15px 13px 15px;
    text-align: left;
    font-weight: bold;
    vertical-align:middle;
    line-height: 30px;
}


.defRanks {
    color:#406eb7;
}

.columnInfo{
   float: right;
}

/*Infobox text*/
#countryInfo{
    height: 270px;
    overflow: hidden;
    padding: 0;
    transition: height 0.3s;
    position: relative;
    text-align: left;
}

#countryInfo #info{
    padding: 20px;
    padding-top: 15px;
    white-space: pre-wrap;
}

.overflow-fade {
    position: relative;
}

.overflow-fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #2C2A2A 90%);
    width: 100%;
    height: 4em;
}

/*Infobox links*/
#links{
    font-weight: normal;
    line-height: 100%;
    word-wrap: break-word;
}

/*Infobox button*/
#countryReadMore{
    text-align: center;
    position: absolute;
    z-index: 1000;
    bottom:0;
    left: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.buttonInfo {
    background-color: #3a3a3a;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    
}

.buttonInfo:hover {
    background-color: #808080;
}

button:focus{
     outline: 0 !important;
}

.btnDisabled{
    pointer-events: none;
    cursor: default;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}
 
::-webkit-scrollbar-thumb {
    background: #dadada; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;   
}

/*Responsive design*/
/* >768px breakpoint*/
@media screen and (max-width : 768px){

    #dropdown-wrapper{
        top: 8px; 
    }
    #dropdownContent{
        max-height: 200px;
    }
    #navbarNav .nav-item{
        line-height: 32px;
    }
    .jvectormap-legend-cnt-v{
        transform: scale(1, 1);
        left: 20px;
    } 

    #countryReadMore{
        position: static;
    }
    #world-map{
        height: 500px;
    }
    #inner-wrapper{
        height: 500px;
        
    }
}

/* 992px breakpoint */
@media screen and (max-width : 992px){

    .jvectormap-zoomin{
        top: 20px;
        left: 20px;
        height: 26px;
        width: 26px;
        line-height: 17px;
        font-size: 32px;
        background-color: #2c2a2a;
    }
    .jvectormap-zoomout{
        top: 65px;
        left: 20px;
        height: 26px;
        width: 26px;
        line-height: 17px;
        font-size: 32px;
        background-color: #2c2a2a;
    }
    
    #countryHeader{
        background-color: #333131;
    }
}

/* 1200px breakpoint */
@media screen and (max-width : 1200px){

}

/* 1200px< */
@media screen and (min-width : 1200px){

}


/* STATISTICS */
#main-content{
    height: 600px;
}
.chart-container {
    width: 100%;
    height: 100%;
}

#stats-header{
    padding-top: 30px;
    padding-bottom: 20px;
}

/* ABOUT */
#about-map{
    padding: 30px;
    margin-top: 50px;
 }
 
#about-header{
    text-align: center;
    padding-bottom: 20px;
}

#logo-padding{
    padding-top: 20px;
}


/*Infobox before*/
#infobox-before2{
    background-color: #2c2a2a;
}

#introHeader2{
    padding-bottom: 10px;
    padding-top: 30px;
}

#logo-padding2{
    padding-top: 20px;
}

.introText2{
    padding: 10px;
}

/*Infobox after*/
#infobox-after2{
    text-align: center;
    background-color: #2c2a2a;
    display: none;
}

#chart-info-display {
    display: none;
}

#weaponsData {
    background-color: #3a3a3a;
}

#stat-flag{
    height: 2em; 
    width: 2.5em; 
}

#statsInfo{
    height: 340px;
    overflow: auto;
    padding: 0;
    position: relative;
    text-align: left;
}

#statsInfo #info{
    padding: 20px;
}
#stat-info{
    white-space: pre-wrap;
}
#stat-infobox{
    padding-top: 20px;
}

statLinks{
        font-weight: normal;
        line-height: 100%;
        word-wrap: break-word;
}

#statistik-link{
padding: 15px;
}


/* PARTICIPANTS */

#logos-header{
    padding-top: 30px;
    padding-bottom: 20px;
}

.pLogo-col{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}

.pLogo-col:hover{
    background-color: #333131;
    cursor: pointer;
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    -o-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;
    
}
.pLogo-col img{
    transition: all .2s ease-in-out;
    width: 150px;
}
.pLogo-col:hover img {
    transform: scale(1.1);
}

.pTitle{
    padding-top: 15px;
}


.tooltipImg .tooltiptext {
    visibility: hidden;
    padding:5px;
    background-color: #755858;
    color: #f2f2f2;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    z-index: 1;
    bottom: -10%;
    left: 4%;
}

.tooltipImg:hover .tooltiptext {
    visibility: visible;
}


#participants-info-display{
    display:none;
}

#logoInfo{
    height: 340px;
    overflow: auto;
    padding: 0;
    position: relative;
    text-align: left;
 }
 
 #logoInfo #info{
    padding: 20px;
 }

 #logoLinks{
    font-weight: normal;
    line-height: 100%;
    word-wrap: break-word;
}
#participant-link{
    padding: 15px;
}

#logo-info{
    white-space: pre-wrap;
}
#logo-infobox{
    padding-top: 20px;
}

.readMore{
    padding-bottom: 10px;
}

#infoboxImg img{
    height: 50px;
}

#infoboxImg{
    background-color:  white;
    padding:15px;
    border-radius: 3px;
}

#participantsTitle{
    text-align: center;
    padding-top: 15px;
}