<!DOCTYPE html>
<html>
<head>

    <partial src="head.html"></partial>

</head>
<body lang="sv">

    
        <div id="wrapper">
                <div class="container">
           

                <partial src="navbar.html"></partial>

                <div class="tab-content">
                    <div id="map" class="tab-pane active">
                        <div class="row h-100 mx-auto no-gutters">
                            <partial src="map.html"></partial>
                        </div>
                    </div>
                    <div id="stats" class="tab-pane">
                        <div class="row h-100 mx-auto no-gutters">
                            <partial src="statistics.html"></partial>
                        </div>
                    </div>
                    <div id="participants" class="tab-pane">
                        <div class="row h-100 mx-auto no-gutters">
                            <partial src="participants.html"></partial>
                        </div>
                    </div>  
                    <div id="about" class="tab-pane">
                        <div class="row h-100 mx-auto no-gutters">
                            <partial src="about.html"></partial>
                        </div>
                    </div>  
                </div>
           
        </div>
    </div>
</body>
</html>